<template name="dashboard">


  <div class="page about">
    {{> navheader title='Latest Styles' black=false}}

    <div class="content-scrollable">
      <div class="bg-image">
        <div class="bg-post-col1 scrollable">
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/1.jpg" alt="">
              <h2 class="card-title" align="center">Rebel Ways Moto Jacket</h2>
              <a href="/"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>

          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>

          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/bg-home-640x655.jpg" alt="">
              <h2 class="card-title" align="center">Rebel Ways Moto Jacket - Red</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/4.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/5.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/4.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/5.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/4.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/5.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/food/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
        </div>
        <div class="bg-post-col2 scrollable">
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/4.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/5.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/4.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/5.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/4.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/5.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/1.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/2.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/life/3.jpg" alt="">
              <h2 class="card-title" align="center">Gluten Free Shrimp Pasta On The Go</h2>
              <a href="#"><i class="icon ion-heart fav-icon icon-small featured animated swing"></i></a>
              <div class="GradientOverlay"></div>
            </a>
          </div>
        </div>
        <!--<div class="bg-post-col3 scrollable">
          <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
              <img class="bg-post-image" src="/img/app/post/health/1.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/2.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/3.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/4.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/5.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/1.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/2.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/3.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/4.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/5.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/1.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/2.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/3.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/4.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/5.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/1.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/2.jpg" alt="">
            </div>
            <div class="bg-post card">
            <a href="/recipes/mind-blowing-vegan-chocolate-pie">
            </a>
              <img class="bg-post-image" src="/img/app/post/health/3.jpg" alt="">
            </div>
          </div> -->
          <!--<h1 class="title-about">
        </a>
          <img src="img/app/title-about.svg" alt="Go Local"/>
        </h1>-->
      </div>
      <!--<div class="description-about">
        <p>Be a local wherever you go. Connect to Local Market’s community to get the latest news, hand-picked recipes, and share with other locals. This season's recipes were chosen by San Francisco chefs Colin Kull of <a href="http://www.rangesf.com/" target="_blank" class="js-open">Range</a>, Laurie Ellen Pellicano of <a href="http://www.tartinebakery.com/" target="_blank" class="js-open">Tartine Bakery</a>, and Ren Rossini of <a href="http://www.fattedcalf.com/"  target="_blank" class="js-open">Fatted Calf</a>.</p>

        <p>Local Market was made by <a href="http://percolatestudio.com" target="_blank" class="js-open">Percolate Studio</a> as an example of a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. The entire app is less than 1,000 lines of JavaScript. View the source on <a href="https://github.com/meteor/meteor/tree/devel/examples/localmarket" target="_blank" class="js-open">GitHub</a>.</p>
      </div>-->

    </div>
    <a href="#" class="btn-primary js-menu animated fadeInLeft" target="_blank">See All Categories</a>
  </div>
</template>
