<template name="home">
  <div class="page home">

    {{>nav title='Ki Health' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
        <!--  <img src="img/app/logo-local.svg" alt="Local Market"/> -->
        </h1>
        <a href="#intro"><i class="icon ion-chevron-down icon-large animated swing"></i></a>
        <span class="hours"><span class="title-callout">KiBree </span>
        <i>www.KiBree.com</i></span>
        <span class="arrow"></span>
      </div>


      <div id="intro" class="callout-news">
        <span class="title-callout">Shop Our Gram & Join Our 9+ Millsion Followers</span><br><hr class="small-divider"><br>
        KiBree is a one stop contemporary boutique for the confident, captivating, and charismatic people who live life on purpose.

      </div>

      <h2 class="list-title">Welcome to KiBree</h2>
      <div class="list-subtitle">{{latestNews.text}}<br>{{> loginButtons align="center"}}</div>

      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No one has posted yet!</div>
            <div class="subtitle-message">Share what you wore and it will show up here.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">See What's New</a>

      <h2 class="list-title">Our Favorite Looks</h2>
      <div class="list-subtitle">Hand-picked by our Stylist</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Explore all our recipes</a>
    </div>

  </div>
</template>
