<template name="videosmenu">
      <a href="{{pathFor 'home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Videos</span>
        </span>
      </a>
      <a href="{{pathFor 'dashboard'}}" class="{{activePage 'dashboard'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">Latestest</span>
        </span>
      </a>
      <a href="{{pathFor 'beauty'}}" class="{{activePage 'beauty'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Beauty</span>
        </span>
      </a>
      <a href="{{pathFor 'fitness'}}" class="{{activePage 'fitness'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Fitness</span>
        </span>
      </a>
      <a href="{{pathFor 'bookmarks'}}" class="{{activePage 'bookmarks'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">My Life</span>
        </span>
      </a>
      <a href="{{pathFor 'feed'}}" class="{{activePage 'feed'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">What's<br>Cooking</span>
        </span>
      </a>
      <a href="{{pathFor 'recipes'}}" class="{{activePage 'recipes' 'recipe'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Recipes</span>
        </span>
      </a>
      <a href="{{pathFor 'bookmarks'}}" class="{{activePage 'bookmarks'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">Bookmarks</span>
        </span>
      </a>
      <a href="{{pathFor 'profile'}}" class="{{activePage 'profile'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">Profile</span>
        </span>
      </a>
</template>